<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="../img/favicon.png"/>
    <link rel="stylesheet" href="../css/tailwind.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monthly Yearly Pricing Component</title>
</head>
<body>
    <div class="bg-gradient-to-br from-gray-700 to-gray-900 rounded-xl text-coaligned-white max-w-7xl mx-auto lg:px-25 px-5 text-center shadow-neon-creme-lg hover:shadow-neon-teal-2xl-brighter transition duration-700 hover:translate-y-1 hover:scale-105 my-10">
        <h2 class="font-medium lg:text-3xl text-3xl py-4 ">We have two options for our membership</h2>
        <div class="md:flex">
            <div class="monthly text-center mx-auto my-auto">
                <h3 class="font-semibold md:text-3xl text-2xl py-2">Monthly</h3>
                <h3 class="font-light text-green-400">-</h3>
                <h3 class="price font-bold text-3xl py-1 ">€33<span class="text-xl text-gray-400">/month</span></h3>
                <a href="https://buy.stripe.com/00g5nV7me2DD5nabIJ" class="aligned-btn-blue my-4">Let's Go Monthly</a>
                <p class="text-sm -mt-3">Secure Payment by Stripe</p>
            </div>
            <div class="divider">
                <img src="../img/divider-wide.png" alt="cool divider" class="h-64 transform mx-auto rotate-90 md:rotate-0">
            </div>
            <div class="yearly text-center m-auto pb-8 md:pb-2">
                <h3 class="font-semibold md:text-3xl text-2xl py-2">Yearly</h3>
                <h3 class="font-light text-green-400">SAVE €63</h3>
                <h3 class="price font-bold text-3xl py-1 ">€333<span class="text-xl text-gray-400">/year</span></h3>
                <a href="https://buy.stripe.com/dR66rZ6ia6TT8zm3ce" class="aligned-btn-blue my-4">Let's Go Yearly</a>
                <p class="text-sm -mt-3">Secure Payment by Stripe</p>
            </div>
        </div>
      </div>
</body>
</html>