@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.crystal-btn-primary{
    @apply inline-block py-2 px-16 mr-6 uppercase text-crystal-gray border-2 hover:underline hover:border-crystal-cyan ring-crystal-gray bg-transparent hover:bg-crystal-cyan hover:text-white dark:text-gray-50 dark:hover:bg-green-200 dark:hover:text-gray-600 transition duration-300 text-xl rounded-xl transform hover:-translate-y-1 hover:scale-105;
}

.crystal-btn-gradient{
    @apply inline-block py-2 px-16 mr-6 uppercase text-crystal-gray transition duration-300 dark:text-gray-200 bg-gradient-to-r  from-crystal-purple-1 via-crystal-purple-2 to-crystal-purple-3 hover:bg-crystal-green hover:underline text-xl rounded-xl transform hover:-translate-y-1 hover:scale-105;
}

.aligned-btn-purple{
    @apply py-4 px-16 text-white bg-purple-800 hover:bg-purple-700 hover:shadow-2xl rounded-3xl font-bold uppercase transition duration-300 transform hover:-translate-y-1 hover:scale-105;
}

.aligned-btn-pink{
    @apply py-2 px-16 text-white bg-gradient-to-tr from-coaligned-neon-pink1 to-coaligned-neon-pink3 hover:shadow-2xl rounded-xl font-semibold text-xl uppercase hover:underline transition duration-300 transform hover:-translate-y-1 hover:scale-105 inline-block;
}

.aligned-btn-blue{
    @apply py-2 px-16 text-white bg-gradient-to-tr from-coaligned-neon-blue1 to-coaligned-neon-blue2 hover:shadow-2xl rounded-xl font-semibold text-xl uppercase hover:underline transition duration-300 transform hover:-translate-y-1 hover:scale-105 inline-block;
}

.cookie-banner {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background: rgba(46,62,62,0.9);
    color: #f5f6fa;
    padding: 0 32px;
    box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
  
    transition: 400ms;
}
.cookie-banner.active{
    bottom:0;
}

.top-2-full{
    top: 200%;
}

.swiper-container {
    width: 600px;
    height: 300px;
  }

@font-face {
    font-family: Gilroy;
    src: url('./font/Gilroy/Gilroy-Light.otf') format("otf");
}

@font-face {
    font-family: Gilroy;
    font-weight: bold;
    src: url('./font/Gilroy/Gilroy-ExtraBold.otf') format("otf");
}


